// colors
$off-black: #20222b;
$off-white: #a5afd7;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// box
$s-curve: 0.3rem;
$m-curve: 0.5rem;
$l-curve: 1rem;
$xl-curve: 3rem;
